* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav,
ul {
    list-style: none;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(233, 23, 23);
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
}

header h1 {
    color: azure;
    font-size: 30px;
}
header nav {
    display: flex;
}
header li a {
    color: #f3f3ef;
}
header li {
    margin: 0 15px;
}
header li:first-child {
    margin-left: 0;
}
header li:last-child {
    margin-right: 0;
}
@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
}


.container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    align-items: center;
}

.child {
    width: 50%;
    height: 300px;
    margin-right: 50px;
    margin-left: 80px;
}

.child h1 {
    font-size: 45px;
}

.child img {
    margin-right: 40px;
    width: 80%;
    height: 350px;
    border-radius: 5%;
}

.child h3 {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #191c03;
    display: flex;
}

footer {display: flex; flex-direction: column; background-color: #1c0306; padding: 50px 0px; align-items: center; color: red;}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .child img {
        margin-top: 60px;
    }
    .child {
        margin-right: 300px;
        margin-top: 150px;
    }
    

}

@media(max-width: 800px) and(min-width:701px){
    .container {
        flex-direction: column;
    }
    .child img {
        margin-top: 60px;
    }
    .child {
        margin-right: 300px;
        margin-top: 150px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1025px) and(min-width:801px) {
    .child {
        margin-bottom: 30px;
    }
}
