<header>
    <h1 href="#">Movies</h1>
    <nav>
        <li><a href="#avengers">Avengers: Infinity War</a></li>
        <li><a href="#spider-man">Spider-Man: Far From Home</a></li>
        <li><a href="#thor">Thor: Ragnarok</a></li>
    </nav>
</header>



<section *ngFor="let movies of listaMovies" class="container">

<section class="container">

    <div id="avengers" class="child">
        <h1>{{ movies.nome }}</h1>
        <h3>{{  movies.ano }}</h3>
        <h3>{{ movies.diretor }}</h3>
        <h3>{{ movies.genero }}</h3>
        <h3>{{ movies.descricao }}</h3>


    </div>
    <div class="child">
        <img alt="poster do filme"[src]="movies.poster + '.jpg'">
    </div>
</section>


</section>

<footer>
    <p>Todos os direitos reservados</p>
</footer>

<!--<div class="row">
    <div class="table-responsive col-lg-12">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>movie</th>
                    <th>ano</th>
                    <th>diretor</th>
                    <th>genero</th>
                    <th>descricao</th>
                    <th>UF</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movies of listaMovies">
                    <td>
                        <input type="radio" name="selecionado" />
                    </td>
                    <td>{{ movies.nome }}</td>
                    <td>{{ movies.ano }}</td>
                    <td>{{ movies.diretor }</td>
                </tr>
            </tbody>
        </table>
    </div>-->